header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5rem;
  background-color: purple;
  color: #fff;
  position: sticky;
  top: 0;

}
img {
  height: 50px;
  width: 50px;
  border-radius: 1rem;
}
.logo a{
  font-size: 1.5rem;
}
.nav-menu{
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: flex-start;

}
.nav-menu li{
  display: inline-block;
  margin-left: 20px;
}
.nav-menu a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}
body{

  background-color: powderblue;
  height: auto;
  display: flex;
  flex-direction: column;
}
.card-body{
  display: flex;
  flex-direction: column;
}
div .details{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 5rem;
}
img .detailsImage{
  width: 480px;
  height: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 2.5rem;


}
.card-title{
  text-align: center;
  padding: 30px;
  font-family: emoji;
  font-size: 2rem;
}
.card-subtitle{
  text-align: center;
}
.card-text{
  margin: 2.5rem;
  padding-top: 1.5rem ;
  font-size: 1.5rem;
}

footer{
  background-color: orange;
  text-align: center;
  padding: 2rem;
}
@media all and(max-width: 600px) {

  header{
    flex-direction: column;

  }
img{
  width: 400px;
}
  .logo a{
    font-size: 1.5rem;
  }
  .nav-menu{
    display: none;
  }
  .nav-menu li{
    display:block;
    margin: 0;
    border-bottom: 1px solid #fff;
  }
  .nav-menu a{

    padding: 10px 0;
  }

}
