<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="" crossorigin="anonymous"></script>
  <title>Bootstrap demo</title>
 </head>
<body>
<header>
  <div class="logo">
    <a href="#">
      <img class="navbar-brand" src="../assets/images.png">
    </a>
  </div>
  <nav>
    <ul class="nav-menu">
      <li><a class="navbar-brand" href="/index.html">Home</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#">About me</a>
      </li>
    </ul>
  </nav>
</header>
<div class="card-body">
  <h1 class="card-title">Fann</h1>

  <h2 class="card-subtitle">Die 6 besten kostenlosen Filmplakate im Jahr 2023.</h2>
  <section class="card-text">
    <p>Es gab eine Zeit, da war ich gezwungen, entweder ins Kino zu gehen, um Filme zu sehen,
      oder sie im Laden zu kaufen. Ich will nicht sagen, dass ich diese Zeit bereut habe, aber ich bin sicher dankbar,
      dass ich jetzt mehr Auswahl habe, weil ich Filminformationen bequem von meiner Couch aus lesen kann.</p>
  </section>
<div id="details" [(ngModel)]="msgFromParent1">
  <div></div>
</div>
  <h3>Dropdown-item</h3>
  <app-dropdown style="margin: 50px"></app-dropdown>
</div>

<footer>
  Footer
</footer>

</body>
</html>

