<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="" crossorigin="anonymous"></script>
  <title>Bootstrap demo</title>
 </head>
<body>
<header>
  <div class="logo">
    <a href="#">
      <img class="navbar-brand" src="../assets/images.png" alt="logo">
    </a>
  </div>
  <nav>
    <ul class="nav-menu">
      <li><a class="navbar-brand" href="/index.html">Home</a></li>
    </ul>
  </nav>
</header>
<div class="card-body">
  <h1 class="card-title">Wilkommen beim FanVergleich</h1>

  <h2 class="card-subtitle">Die 6 besten kostenlosen Filmplakate im Jahr 2023.</h2>
  <section class="card-text">
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
      consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
      aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet..</p>
  </section>
  <div></div>
  <app-slider></app-slider>
  <app-dropdown style="margin-left: 5rem; margin-right: 5rem"></app-dropdown>
  <div class="details">
  </div>
</div>
<footer>
  Footer
</footer>

</body>
</html>

