.slider-template{
padding: 0px 0;
margin: 0;
display: flex;
justify-self: center;
align-items: center;
flex-direction: column;
}
.slide-wrap{
  height: 500px;
  overflow: hidden;
  border-radius: 10px;

}
.slide-main{
  width: 500%;
  height: 500px;
  display: flex;
}
.item{
  margin-left: 4.5rem;
  width: 20%;

}
img .slideImage{
  width: 600px;
  height: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
/*.slider{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: auto;
  padding: 16px;
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
@media all and (max-width:600px){

    img{
      width: 400px;
    }
  .next{
    margin-right: -1rem;
    translate: 50% -10rem;
    position: absolute;
  }
  .prev{
    margin-right: -1rem;
    translate: 50% -10rem;
    position: absolute;
  }
}
