

<!--div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
    Film Liste
  </button>
  <ul class="dropdown-menu" *ngFor="let item of itemsList">
    <li><a class="dropdown-item" href="#">{{item.name}}</a></li>
  </ul>
</div>-->
<p>
  öffnen Sie das Dropdown-Menü und wählen Sie ihren
  passenden Filmplakat aus, viel Spaß!
</p>
<mat-form-field>
  <mat-label>Filmplakat auswählen</mat-label>
  <mat-select [(ngModel)]="selectedItem" id="select"><!--(valueChange)="movieSelected()-->
    <mat-option *ngFor="let item of itemsList" value="{{item.id}},{{item.description}},{{item.image}}" (click)="openModal()">
      {{item.name}}

    <!--  <ng-container *ngIf="!selectedItem ; else elseBlock">
<h1>ja</h1>
      </ng-container>
      <ng-template #elseBlock>
        <h3>{{item.description}}</h3>
        <img [src]="item.image">
      </ng-template>-->
    </mat-option>

  </mat-select>
</mat-form-field>
<p>{{selectedItem}}</p>

<br>
<!--<div class="dropdown">
  <button class="dropdown-toggle" [(ngModel)]="selectedItem"  (selectionchange)="modalDetails=true" >

  </button>
  <ul class="dropdown-menü" *ngFor="let item of itemsList">
    <li><a class="dropdown-item" (click)="modalDetails=true" href="">{{item.name}}</a></li>
  </ul>
</div>-->


  <p></p>
<!--  <app-modal></app-modal>-->


<!--<button (click)="modalDetails=true">showModal</button>-->
