<p>dropdown works!</p>
<h1>item List</h1>
<<!--div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
    Film Liste
  </button>
  <ul class="dropdown-menu" *ngFor="let item of itemsList">
    <li><a class="dropdown-item" href="#">{{item.name}}</a></li>
  </ul>
</div>-->

<mat-form-field>
  <mat-label>Select Item</mat-label>
  <mat-select [(ngModel)]="selectedItem">
    <mat-option *ngFor="let item of itemsList" [value]="item" (click)="modalShow=true">
      {{item.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<!--<div class="dropdown">
  <button class="dropdown-toggle" [(ngModel)]="selectedItem"  (selectionchange)="modalDetails=true" >

  </button>
  <ul class="dropdown-menü" *ngFor="let item of itemsList">
    <li><a class="dropdown-item" (click)="modalDetails=true" href="">{{item.name}}</a></li>
  </ul>
</div>-->
<div class="details">
  <h2></h2>
  <p></p>
  <app-modal *ngIf="modalShow"></app-modal>
</div>
<!--<button (click)="modalDetails=true">showModal</button>-->
